<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tabangi.dolor"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18"
        tools:ignore="OldTargetApi" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_GPS" />
    <uses-permission android:name="android.permission.ACCESS_ASSISTED_GPS" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.tabangi.dolor.LoginPage"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tabangi.dolor.FeedsPage"
            android:label="@string/title_activity_feeds_page" >
        </activity>
        <activity
            android:name="com.tabangi.dolor.SosPage"
            android:label="@string/title_activity_sos_page" >
        </activity>
        <activity
            android:name="com.tabangi.dolor.HelpPage"
            android:label="@string/title_activity_help_page" >
        </activity>
        <activity
            android:name="com.tabangi.dolor.user_signup"
            android:label="@string/title_activity_help_page" >
        </activity>
        <activity
            android:name="com.tabangi.dolor.aid"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.tabangi.dolor.aid_map"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.tabangi.dolor.login"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.tabangi.dolor.MapActivity"
            android:label="@string/title_activity_map" >
        </activity>
        <activity
            android:name="com.tabangi.dolor.LoginForm"
            android:label="@string/title_activity_login_form"
            android:windowSoftInputMode="adjustResize|stateVisible" >
        </activity>
        <activity
            android:name="com.tabangi.dolor.CalamityEventInfo"
            android:label="@string/title_activity_calamity_event_info" >
        </activity>
        <activity
            android:name="com.tabangi.dolor.ViewMap"
            android:label="@string/title_activity_view_map" >
        </activity>
        <activity
            android:name="com.tabangi.dolor.CalamityInfo"
            android:label="@string/title_activity_calamity_info" >
        </activity>
    </application>

</manifest>
